[submodule "emacs/ace-jump-mode"]
	path = emacs/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs/company-mode"]
	path = emacs/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs/emacs-neotree"]
	path = emacs/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "emacs/powerline"]
	path = emacs/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "emacs/openwith"]
	path = emacs/openwith
	url = https://github.com/emacsmirror/openwith.git
[submodule "emacs/multiple-cursors.el"]
	path = emacs/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs/dash.el"]
	path = emacs/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "emacs/highlight-symbol.el"]
	path = emacs/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "kakoune/kakoune-buffers"]
	path = kakoune/kakoune-buffers
	url = https://github.com/Delapouite/kakoune-buffers.git
[submodule "kakoune/kaktree"]
	path = kakoune/kaktree
	url = https://github.com/andreyorst/kaktree.git
[submodule "kakoune/powerline.kak"]
	path = kakoune/powerline.kak
	url = https://github.com/andreyorst/powerline.kak.git
